# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Data & Output (Included as requested)
# data_cache/
# *.npy
# *.html
# *.png
# *.obj
# *.txt

# Environments
.env
.venv
env/
venv/
.conda/

# IDEs
.vscode/
.idea/
*.swp
